aniso8601==1.2.0
appdirs==1.4.3
certifi==2020.6.20
chardet==3.0.4
Django==1.11.29
Flask==0.10.1
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
idna==2.10
image==1.5.32
ImageHash==4.1.0
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==0.23
numpy==1.16.6
packaging==16.8
Pillow==6.2.2
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==1.0.3
requests==2.24.0
scipy==1.2.3
six==1.10.0
SQLAlchemy==1.1.9
unicodecsv==0.14.1
urllib3==1.25.10
virtualenv==15.1.0
Werkzeug==0.10.4
